@media screen and (max-width: 1000px) {
	.home-news-wrapper {
	    width: 1000px;
	}
	.home-news-out li {
		width: 300px;
	}
	.home-news-out li .article-image {
		width: 300px;
	}
	.home-video-out{
		width: 1000px;
	}
	.home-video-right{
		width: 277px;
	}
	.coo-wrapper{
		width: 1000px;
	}
	.home-article-wrapper {
		width: 1000px;
	}
	.home-article-main{
		width: 628px!important;
	}
	.home-article-wrapper .home-article-main .article-image {
	    width: 250px;
	}
	.home-article-wrapper .home-article-main .article-image img{
	    width: 250px;
	}
	.coo-list li {
	    margin-right: 18px;
	    margin-top: 20px;
	}
}
@media screen and (min-width: 1200px) {
	.coo-list li {
	    float: left;
	    margin-right: 49px;
	    width: 90px;
	    height: 90px;
	    text-align: center;
	    margin-top: 30px;
	}
	.coo-list li:nth-child(9n){
	    margin-right: 0px;
	}
	.article-main .article-info {
	    display: inline-block;
	    width: 420px;
	    vertical-align: top;
	}
	.article-side {
	    display: inline-block;
	    width: 340px;
	    margin: 23px 0 0 40px;
	    vertical-align: top;
	}
	.home-product-wrapper {
	    width: 710px;
	    height: 400px;
	}
	.a{
	    display: block;
	}
	.b {
	    display: none;
	}
	.home-product-info{
		margin-top: -400px;
	}
}
@media screen and (max-width: 1200px) {
	.home-article-wrapper .home-article-side .article-title{
		font-size: 12px;
	}
	.home-article-wrapper .home-article-main .article-title {
	    width: 335px;
	    font-size: 18px;
	    margin: 20px 0 10px;
	}
	.home-article-wrapper .home-article-main .article-info {
    	width: 330px;
	}
	.home-article-wrapper .home-article-side {
	    width: 300px;
	    margin: 15px 0 0 27px;
	}
	.goods-block .goods-second {
	    width: 235px;
	    height: 270px;
	    /*border-right: 1px solid #e9e9e9;*/
	    border-bottom: 1px solid #e9e9e9;
	}
	.goods-block .goods-second a {
	    display: block;
	    width: 201px;
	    height: 230px;
	}
	.goods-block .goods-second .goods-name {
	    font-size: 16px;
	}
	.goods-block .goods-second .goods-brief {
	    font-size: 12px;
	}
	.goods-block .goods-second .goods-price {
	    margin: 11px 0 2px -5px;
	    font-size: 16px;
	}
	.goods-block .goods-second img {
	    max-width: 127px;
	    max-height: 127px;
	}
	.goods-block {
	    width: 960px;
	}
	.goods-block li {
	    width: 235px;
	    height: 270px;
	    float: left;
	    display: inline-block;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	    -o-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 20px 17px;
	}
	.goods-fourth {
	    border-right: 1px solid #e9e9e9;
	    margin-left: 0;
	    margin-top: 0;
	}
	.goods-block li.goods-six {
	    display: block;
	}
	.goods-block li.goods-fifth {
		border: 0;
	    border-right: 1px solid #e9e9e9;
	    overflow: hidden;
	}
	.a{
	    display: none;
	}
	.b {
	    display: block;
	}
	.home-product-info{
		margin-left: 625px;
	}
	.home-news-wrapper {
	    width: 1000px;
	}
	.home-news-out li {
		width: 300px;
	}
	.home-news-out li .article-image {
		width: 300px;
	}
	.home-video-out{
		width: 1000px;
	}
	.home-video-right{
		width: 277px;
	}
	.coo-wrapper{
		width: 955px;
	}
	.home-article-wrapper {
		width: 1000px;
	}
	.home-article-main{
		width: 628px!important;
	}
	.home-article-wrapper .home-article-main .article-image {
	    width: 250px;
	}
	.home-article-wrapper .home-article-main .article-image img{
	    width: 250px;
	}
	.coo-list{
		width: 974px;
	}
	.coo-list li {
	    margin-right: 18px;
	    margin-top: 20px;
	}
}